<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.net>
		<mailSettings>
			<smtp from="E.Rodriguez.05.23.08@gmail.com">
				<network host="smtp.gmail.com"
                 port="587"
                 userName="E.Rodriguez.05.23.08@gmail.com"
                 password="empe rrha unao hujx"
                 enableSsl="true"/>
			</smtp>
		</mailSettings>
	</system.net>
</configuration>