<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.net>
		<mailSettings>
			<smtp from="string">
				<network host="string"
                 port="xxx"
                 userName="string"
                 password="string"
                 enableSsl="true"/>
			</smtp>
		</mailSettings>
	</system.net>
</configuration>